In [1]:
#Halaman 1
print ("Hello World")

Hello World

In [2]:
#Halaman 3
#single world
print ('Hello')

Hello

In [3]:
#Halaman 3
#single world
print ('Hello')
print () # Used to have a line space between two sentences
print ('WOrld')

Hello

WOrld

In [4]:
#Halaman 3
#single world
#without a line space
print ('Hello')
print ('WOrld')

Hello
WOrld

In [6]:
#Halaman 3
#entire phrase
print ('Hello')
print ('This is also a string')

Hello
This is also a string

In [7]:
#Halaman 3
#entire phrase
print ('Hello')
print () #Used to have a line space between two sentences
print ('This is also a string')

Hello

This is also a string

In [8]:
#Halaman 3
#Variable
s = 'New York'
print(s)
print(type(s))
print(len(s)) #what's the string length

New York
<class 'str'>
8

In [10]:
#Halaman 4
# Assign s as a string
s = 'Hello World'
# Print the object
print(s)
print()
#Show first element (in this case a letter)
print(s[0])
print()
#Show the second element (also a letter)
print(s[1])

Hello World

H

e

In [11]:
#Halaman 4
#concatenation (addition)
s1 = 'Hello'
s2 = "World"
print(s1 + " " + s2)

Hello World

In [12]:
#Halaman 5
#repetition (multiplication)
print("Hello_" * 3)
print("-" * 10)

Hello_Hello_Hello_
----------

In [13]:
#Halaman 5
s = "Namaste World"
#print sub strings
print(s[1]) #This is indexing.
print(s[6:11]) #This is known as slicing.
print(s[-5:-1])
#test substring membership
print("Wor" in s)

a
e Wor
Worl
True

In [15]:
#Halaman 6
s = "Hello World"
print(s.upper()) ## Convert all the element of the string to Upper case..!!
print(s.lower()) ## Convert all the element of the string to Lower case..!!

HELLO WORLD
hello world

In [17]:
#Halaman 6
name = "Einstein"
age = 22
married = True
print("My name is %s, my age is %s, and it is %s that I am married" % (name, age, married))
print("My name is {}, my age is {}, and it is {} that I am married".format(name, age, married))

My name is Einstein, my age is 22, and it is True that I am married
My name is Einstein, my age is 22, and it is True that I am married

In [18]:
#Halaman 7
#Types of numbers
#Basic Arithmetic
# Addition
print(2+1)
# Subtraction
print(2-1)
# Multiplication
print(2*2)
# Division
print(3/2)

3
1
4
1.5

In [21]:
#Halaman 7
#Types of numbers
#Arithmetic continued
#Powers
2**3

8

In [22]:
#Halaman 7
#Types of numbers
#Arithmetic continued
#Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [23]:
#Halaman 8
#Types of numbers
#Arithmetic continued
#Can use parenthesis to specify orders
(2+10) * (10+3)

156

In [24]:
#Halaman 8
# Let's create an object called "a" and assign it the number 5
a = 5

# Adding the objects
a+a

10

In [25]:
#Halaman 8
# Reassignment
a = 10
a

10